<h1>Add a new Customer</h1>
{{error}}
<form ng-submit="create()">
  Name: <input type="text" ng-model="newUser.name"<br>
  <input type="submit" value="Create">
</form>
<br>
<br>

<input type="text"placeholder="filter by name" ng-model="namefilter.name">
<table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Edit link</th>
        <th>Single View</th>
        <th>Created Date</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter: namefilter.name">
        <td>{{user.name}}</td>
        <td><a href="#!/edit/{{user._id}}">Edit this friend</td>
        <td><a href="#!/show/{{user._id}}">Show this friend</td>
        <td>{{user.createdAt | date: 'MM-dd-yyyy'}}</td>
        <td><form ng-submit="delete(user._id, user)">
          <input type="submit" value="Delete this Customer"></td>
        </form></td>
      </tr>
    </tbody>
  </table>
